<div class="row row-cols-1 row-cols-sm-2 row-cols-xl-4 gy-4">
    @foreach (var item in dataSource)
    {
        <div class="col">
            <a href="candidates/@item.Id" style="text-decoration: none;">
                <div class="card text-black">
                    <img class="card-img-top" src="@(item.Image ?? noImage)" alt="@item.DisplayName.Replace(' ', '_')"
                        style="height: 9.5rem;">
                    <div class="card-body">
                        <h6 class="card-title">@item.DisplayName</h6>
                        <p class="card-text text-muted">@item.Party</p>
                        <p class="card-text mt-2">Age: @item.Age</p>
                    </div>
                </div>
            </a>
        </div>
    }
</div>

@code{

    [Parameter, EditorRequired]
    public IReadOnlyList<CandidateSummaryVM> dataSource { get; set; } = null!;

    private readonly string noImage = "https://www.pngitem.com/pimgs/m/150-1503945_transparent-user-png-default-user-image-png-png.png";
}